<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book details</title>
</head>
<body>
    <h2 style="text-align: center; margin-top: 50px;">
        {{ book.title }}
    </h2>
    <img src="{{book.thumbnailUrl}}" width="200" alt="">
    <p> <b>Publish Date</b>: {{ book.publishedDate.date }} </p>
    <p> <b>Description : </b> <br/> {{ book.longDescription }} </p>
</body>
</html>